extends ../base.pug

block content 
    div#videoContainer.videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl).screen
        div#videoControls.videoControls
            div.videoControls__timeline
                input(type="range", step="1", value=0, min="0")#timeline
            div.videoControls__btn
                div.videoControls__btn-play
                    span#play.videoControls__btn-playBtn
                        i.fas.fa-play
                div.videoControls__btn-volume
                    span#volumeBtn.videoControls__btn-volumeBtn
                        i.fas.fa-volume-up
                    input(type="range", step="0.01", value=0.5, min="0", max="1")#volumeBar.videoControls__btn-volumeBar
                div.videoControls__btn-time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
                div#emptySpace.videoControls__btn-emptySpace
                div.videoControls__btn-fullscreen
                    span#fullscreenBtn.videoControls__btn-fullscreenBtn
                        i.fas.fa-expand
    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            if (video.owner)
                a(href=`/users/${video.owner._id}`)=video.owner.name
            else
                small Unknown
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: "long", year: "numeric", month: "long", day: "numeric"})
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video._id}/edit`) Edit Video &rarr;
            br
            a(href=`${video._id}/delete`) Delete Video &rarr;

    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment...")
                button Add Comment

    div.video__comments
        ul
            each comment in video.comments.reverse()
                li#videoComment.video__comment
                    i.fas.fa-comment
                    span  #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id) 
                        span.video__comment-delete#deleteCommentBtn(data-id=comment._id)(data-videoId=video._id) ❌

block scripts
    script(src="../static/js/videoPlayer.js")
    if loggedIn
        script(src="../static/js/commentSection.js")
    